<footer class="footer">
    <div class="container">
      <div class="footer-contents">
        <div class="footer-logo">{%- image images.6934087c.url, images.6934087c.alt, '[{"max":10000,"size":"92px"}]', 'loading="lazy"' -%}</div>
        <div class="footer-navigation">
          <a href="{{ links.2cac3e3 }}" class="footer-navigation-item">{{ texts.24d91bd9 }}</a>
          <a href="{{ links.634882d6 }}" class="footer-navigation-item">{{ texts.13ede05 }}</a>
          <a href="{{ links.7f6f1dda }}" class="footer-navigation-item">{{ texts.57fd4fd0 }}</a>
          <a href="{{ links.-79df24b0 }}" class="footer-navigation-item">{{ texts.13ad502c }}</a>
        </div>
        <div class="animal-welfare-container">
          <h4>{{ texts.-3acd0178 }}</h4>
          <div class="animal-welfare-numbers">
            <a href="{{ links.-538e7935 }}" class="animal-welfare-number">{{ texts.171acc }}</a>
            <div class="text-separator-h">{{ texts.2f }}</div>
            <a href="{{ links.-359ae5c5 }}" class="animal-welfare-number">{{ texts.1eabadf1 }}</a>
          </div>
          <h4>{{ texts.2f3bcd5 }}</h4>
          <div class="animal-welfare-numbers">
            <a href="{{ links.-3a92d39a }}" class="animal-welfare-number">{{ texts.-7aec2470 }}</a>
          </div>
        </div>
      </div>
      <div class="footer-credits">
        <div class="footer-credit">{{ texts.-396d4b2f }}<a href="{{ links.21b4cd3 }}" target="_blank" class="footer-link">{{ texts.1ea9477e }}</a>{{ texts.-51b2377b }}</div>
        <div class="website-credit">
          <a href="{{ links.-bb571ff }}" target="_blank" class="wearegoat-credit w-inline-block">
            <div class="w-embed"><svg class="svg-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1490 258">
                <style type="text/css">
.svg-logo{display: block;}
.svg-logo:hover .st0{fill:#ffffff;}
.svg-logo .st0{fill:#FFE100;transition:fill 0.2s cubic-bezier(.77,0,.175,1);}
.svg-logo .st1{fill:#FFE100;}
</style>
                <g>
                  <path class="st1" d="M25.8,75l9.7,93.9H38L51,75h45.3l13,93.9h2.5l9.7-93.9h26l-13.4,102.2H87.8l-13-93.9h-2.5l-13,93.9H13.2L-0.2,75H25.8z"></path>
                  <path class="st1" d="M206.7,72.1c30.1,0,49.6,21.4,49.6,52.7v8.9h-74.4c0.6,14,11.5,24.1,26,24.1s20.4-7.8,23.9-15.7l21.2,11.1c-5.8,10.9-17.9,26.8-45.9,26.8c-30.5,0-51.7-21.4-51.7-54C155.4,93.5,176.6,72.1,206.7,72.1z M229.9,114.3c-1.2-11.7-10.1-20-23.5-20c-14,0-22.7,8.7-24.3,20H229.9z"></path>
                  <path class="st1" d="M298.3,32.9v55.2h2.1c5.8-8.2,15.7-16.1,33.4-16.1c24.3,0,46.1,20.6,46.1,54s-21.8,54-46.1,54c-17.7,0-27.6-7.8-33.8-16.7h-2.1v13.8h-25.5V32.9H298.3z M297.9,126c0,20.2,11.9,31.7,28,31.7s28-11.5,28-31.7s-11.9-31.7-28-31.7S297.9,105.8,297.9,126z"></path>
                  <path class="st1" d="M435.5,72.1c22.9,0,37.9,11.3,42.8,27.8l-23.5,7.2c-2.5-11.1-9.5-15.2-19.4-15.2s-15.2,3.9-15.2,10.1c0,6.8,5.8,9.7,16.5,11.7l5.4,1c23.1,4.5,40.4,10.3,40.4,31.7S465.6,180,439.7,180c-26.8,0-44.7-11.9-48.2-33.4l23.9-6.2c2.7,14.8,12.4,19.8,24.3,19.8s17.7-5.1,17.7-11.7s-5.8-9.7-18.5-12.2l-5.4-1c-21.4-4.1-38.3-11.5-38.3-31.7S411.2,72.1,435.5,72.1z"></path>
                  <path class="st1" d="M512.8,27.6c10.3,0,18.3,7.2,18.3,17.7s-8,17.7-18.3,17.7s-18.3-7.2-18.3-17.7S502.5,27.6,512.8,27.6zM525.7,177.1h-26V75h26V177.1z"></path>
                  <path class="st1" d="M538.1,75h25.5V43.2h26V75h28v21h-28v54c0,4.1,2.1,6.2,5.8,6.2h19.8v21h-28.8c-13.6,0-22.7-9.1-22.7-23.1V96h-25.5L538.1,75L538.1,75z"></path>
                  <path class="st1" d="M678,72.1c30.1,0,49.6,21.4,49.6,52.7v8.9h-74.4c0.6,14,11.5,24.1,26,24.1s20.4-7.8,23.9-15.7l21.2,11.1c-5.8,10.9-17.9,26.8-45.9,26.8c-30.5,0-51.7-21.4-51.7-54C626.7,93.5,647.9,72.1,678,72.1z M701.3,114.3c-1.2-11.7-10.1-20-23.5-20c-14,0-22.7,8.7-24.3,20H701.3z"></path>
                  <path class="st1" d="M769.6,32.9v55.2h2.1c5.8-8.2,15.7-16.1,33.4-16.1c24.3,0,46.1,20.6,46.1,54s-21.8,54-46.1,54c-17.7,0-27.6-7.8-33.8-16.7h-2.1v13.8h-25.5V32.9H769.6z M769.2,126c0,20.2,11.9,31.7,28,31.7s28-11.5,28-31.7s-11.9-31.7-28-31.7S769.2,105.8,769.2,126z"></path>
                  <path class="st1" d="M966.6,75l-43.9,143.4h-28l14.2-41.2h-22.2L855.3,75h28l26.4,93.9h2.5L938.6,75H966.6z"></path>
                  <ellipse class="st0" cx="1178.4" cy="126" rx="27.6" ry="31.3"></ellipse>
                  <path class="st0" d="M1082,190v-29.3h-2.1c-5.8,8-15.7,16.1-33.4,16.1c-23,0-43.7-18.5-45.9-47.3l-27.8,27.8l38.9,38.9h64.5C1079.9,196.2,1082,194.1,1082,190z"></path>
                  <ellipse class="st0" cx="1054.4" cy="124.4" rx="28" ry="30.1"></ellipse>
                  <ellipse class="st0" cx="1296.7" cy="126" rx="28" ry="31.7"></ellipse>
                  <path class="st0" d="M1388.2,154.1V96h-25.5V75h-0.1h0.1h25.4V43.2h26V75h28v21h-28v54c0,4.1,2.1,6.2,5.8,6.2h14.8l55.5-55.5L1389.7,0.2L1324,65.9l-65.7-65.7l-64.2,64.2l-64.2-64.2l-73,73c11.4,2.4,18.6,8.7,23.4,15.7h2.1V75h25.6v120.3c0,14-9.1,23.1-22.7,23.1h-51.4l39.4,39.4l64.2-64.2l64.2,64.2l65.7-65.7l65.7,65.7l80.6-80.6h-2.8C1397.3,177.2,1388.2,168.1,1388.2,154.1z M1178.4,180.1c-30.5,0-53.6-20.6-53.6-54c0-33.4,23.1-54,53.6-54s53.6,20.6,53.6,54C1232,159.5,1208.9,180.1,1178.4,180.1z M1350.2,177.2h-25.5v-0.1v-13.8h-2.1c-6.2,8.9-16.1,16.7-33.8,16.7c-24.3,0-46.1-20.6-46.1-54c0-33.4,21.8-54,46.1-54c17.7,0,27.6,7.8,33.8,16.7h2.1V75h25.5V177.2z"></path>
                </g>
              </svg></div>
          </a>
          <div class="credit-separator">{{ texts.179d7 }}</div>
          <a href="{{ links.-1ba8d3d5 }}" target="_blank" class="casual-business-credit w-inline-block">
            <div class="w-embed"><svg class="cb-logo" viewBox="0 0 67 26">
                <style type="text/css">
.cb-logo{display: block;}
.cb-logo:hover path{fill:#ffffff;}
.cb-logo path{fill:#FFE100;transition:fill 0.2s cubic-bezier(.77,0,.175,1);}
</style>
                <path d="M43.6817 15.8022C40.7228 15.8022 39.4722 18.2867 39.4722 20.4534C39.4722 20.7134 39.4722 20.9445 39.5027 21.1756C39.7467 23.7178 41.6685 25.2778 44.3223 25.2778C45.1154 25.2778 46.0915 25.1334 47.0067 24.6711V22.2156C46.2441 22.5911 45.451 22.7356 44.6579 22.7356C43.4072 22.7356 42.248 22.1867 41.9735 21.1756C41.943 21.0889 41.943 21.0022 41.9125 20.9156H47.2812L47.3117 20.6845C47.5862 17.94 46.3966 15.8311 43.6817 15.8022ZM43.5597 18.2289C43.5902 18.2289 43.6207 18.2289 43.6817 18.2289C44.5053 18.2867 44.8104 18.9222 44.8104 19.9911H41.9125C41.9735 19.0089 42.5226 18.2289 43.5597 18.2289Z"></path>
                <path d="M66.4985 21.8977H63.1736V25.0466H66.4985V21.8977Z"></path>
                <path d="M5.76525 18.5178C7.50398 18.2289 8.51061 17.2178 8.51061 15.6289C8.51061 14.0689 7.41247 12.48 4.39257 12.48H0V25.0755H4.85013C7.626 25.0755 9.15119 23.8044 9.15119 21.6378C9.15119 20.02 7.99204 18.72 5.76525 18.5178ZM3.41645 14.7911H3.87401C4.85013 14.7911 5.15517 15.2533 5.15517 16.4089C5.15517 17.8244 5.09416 18.5755 3.87401 18.5755H3.38594V14.7911H3.41645ZM4.08753 22.7355H3.41645V19.0089H3.90451C5.12467 19.0089 5.52122 19.4711 5.52122 20.9444C5.52122 22.3022 5.12467 22.7355 4.08753 22.7355Z"></path>
                <path d="M15.0384 22.4467C14.9164 22.9378 14.5503 23.2845 14.1233 23.2845C13.6657 23.2845 13.4827 22.9667 13.4827 22.4178V16.0623H10.2188V22.5623C10.2188 23.9778 10.7678 25.22 12.5065 25.22C13.6962 25.22 14.6113 24.4689 15.0994 22.8223L15.5264 25.0467H18.3023V16.0623H15.0384V22.4467Z"></path>
                <path d="M29.2533 16.0623H26.2029V25.0467H29.2533V16.0623Z"></path>
                <path d="M36.1168 15.8889C34.9271 15.8889 33.9815 16.64 33.524 18.2867L33.0969 16.0623H30.321V25.0467H33.5545V18.6911C33.6765 18.1711 34.073 17.8534 34.4696 17.8534C34.9271 17.8534 35.1102 18.1711 35.1102 18.72V25.0756H38.3436V18.5467C38.3741 17.1311 37.8555 15.8889 36.1168 15.8889Z"></path>
                <path d="M19.6446 18.3444C19.6446 19.1533 19.9192 19.6444 20.6513 20.6844C21.2919 21.6377 21.4749 21.9266 21.4749 22.2733C21.4749 22.6777 21.2003 22.8222 20.7123 22.8222C20.3767 22.8222 19.6446 22.5044 19.3396 22.3888V24.7866C20.2547 25.0466 21.1698 25.3355 22.146 25.2777C22.8171 25.2488 23.5492 25.0755 24.0982 24.6999C24.7083 24.2955 25.0438 23.6599 25.0438 22.9666C25.0438 22.0999 24.5253 21.3777 23.7932 20.3666C23.0001 19.2977 22.9086 19.0666 22.9086 18.7488C22.9086 18.4022 23.1221 18.1999 23.5797 18.1999C23.8847 18.1999 24.7693 18.431 25.0743 18.5177V16.2066C24.4643 16.0333 23.2746 15.831 22.6645 15.831C20.5293 15.8022 19.6446 17.0733 19.6446 18.3444Z"></path>
                <path d="M48.6539 18.3444C48.6539 19.1533 48.9285 19.6444 49.6605 20.6844C50.3011 21.6377 50.4842 21.9266 50.4842 22.2733C50.4842 22.6777 50.2096 22.8222 49.7216 22.8222C49.386 22.8222 48.6539 22.5044 48.3489 22.3888V24.7866C49.264 25.0466 50.1791 25.3355 51.1552 25.2777C51.8263 25.2488 52.5584 25.0755 53.1075 24.6999C53.7176 24.2955 54.0531 23.6599 54.0531 22.9666C54.0531 22.0999 53.5346 21.3777 52.8025 20.3666C52.0094 19.2977 51.9178 19.0666 51.9178 18.7488C51.9178 18.4022 52.1314 18.1999 52.5889 18.1999C52.894 18.1999 53.7786 18.431 54.0836 18.5177V16.2066C53.4735 16.0333 52.2839 15.831 51.6738 15.831C49.5385 15.8022 48.6539 17.0733 48.6539 18.3444Z"></path>
                <path d="M58.7811 18.72C58.7811 18.3734 58.9946 18.1711 59.4522 18.1711C59.6962 18.1711 60.4283 18.3445 60.7944 18.46V16.1489C60.1538 15.9756 59.0861 15.8022 58.5371 15.8022C56.3713 15.8022 55.4867 17.0734 55.4867 18.3156C55.4867 19.1245 55.7612 19.6156 56.4933 20.6556C57.1339 21.6089 57.3169 21.8978 57.3169 22.2445C57.3169 22.6489 57.0424 22.7934 56.5543 22.7934C56.2188 22.7934 55.4867 22.4756 55.1816 22.36V24.7578C56.0968 25.0178 57.0119 25.3067 57.988 25.2489C58.6591 25.22 59.3912 25.0467 59.9403 24.6711C60.5503 24.2667 60.8859 23.6311 60.8859 22.9378C60.8859 22.0711 60.3673 21.3489 59.6352 20.3378C58.8726 19.2689 58.7811 19.0378 58.7811 18.72Z"></path>
                <path d="M42.0345 10.2554L42.4615 12.4799H45.2374V3.46655H42.004V9.851C41.8819 10.3421 41.5159 10.6888 41.0888 10.6888C40.6313 10.6888 40.4483 10.371 40.4483 9.82211V3.46655H37.1843V9.96655C37.1843 11.3821 37.7334 12.6243 39.4721 12.6243C40.6313 12.6532 41.5464 11.8732 42.0345 10.2554Z"></path>
                <path d="M60.9163 0.577881H57.6829V12.4512H60.9163V0.577881Z"></path>
                <path d="M33.1274 12.7689C33.7985 12.74 34.5306 12.5667 35.0796 12.1912C35.6897 11.7867 36.0253 11.1512 36.0253 10.4578C36.0253 9.59115 35.5067 8.86893 34.7746 7.85782C33.9815 6.78893 33.89 6.55782 33.89 6.24004C33.89 5.89338 34.1035 5.69115 34.5611 5.69115C34.8661 5.69115 35.7507 5.92227 36.0558 6.00893V3.69782C35.4457 3.52449 34.256 3.32227 33.646 3.32227C31.4802 3.32227 30.5956 4.59338 30.5956 5.8356C30.5956 6.64449 30.8701 7.1356 31.6022 8.1756C32.2428 9.12893 32.4258 9.41782 32.4258 9.76449C32.4258 10.1689 32.1513 10.3134 31.6632 10.3134C31.3277 10.3134 30.5956 9.9956 30.2905 9.88004V12.2778C31.2361 12.5378 32.1818 12.8267 33.1274 12.7689Z"></path>
                <path d="M7.68677 6.52889C7.68677 9.76445 9.79154 13.0867 14.6722 13.0867C15.8618 13.0867 17.204 12.8844 18.2716 12.5089V9.44667C17.2345 9.88 16.2584 10.0533 15.0687 10.0533C12.5979 10.0533 11.2862 8.55111 11.2862 6.55778C11.2862 4.53556 12.5674 3.03333 15.1297 3.03333C16.0754 3.03333 17.1125 3.26445 18.3022 3.78445V0.577778C17.0515 0.144444 15.8618 0 14.6722 0C9.82205 0 7.68677 3.29333 7.68677 6.52889Z"></path>
                <path d="M50.2402 12.711C52.1314 12.711 53.0771 11.5554 53.3821 9.47543L53.7481 12.4799H56.585V3.46654H53.7481L53.3821 6.4421C53.0466 4.3621 52.1314 3.20654 50.2097 3.20654C48.471 3.20654 46.3052 4.53543 46.3052 7.94432C46.3052 11.3821 48.5015 12.711 50.2402 12.711ZM51.4298 5.63321C52.589 5.63321 53.3211 6.35543 53.3211 7.94432C53.3211 9.53321 52.589 10.2554 51.4298 10.2554C50.1487 10.2554 49.3556 9.44654 49.3556 7.94432C49.3556 6.4421 50.1487 5.63321 51.4298 5.63321Z"></path>
                <path d="M26.0503 6.4421C25.7148 4.3621 24.7996 3.20654 22.8779 3.20654C21.1392 3.20654 18.9734 4.53543 18.9734 7.94432C18.9734 11.3821 21.1697 12.711 22.9084 12.711C24.7996 12.711 25.7453 11.5554 26.0503 9.47543L26.4164 12.4799H29.2532V3.46654H26.4164L26.0503 6.4421ZM24.0981 10.2554C22.8169 10.2554 22.0238 9.44654 22.0238 7.94432C22.0238 6.4421 22.8169 5.63321 24.0981 5.63321C25.2572 5.63321 25.9893 6.35543 25.9893 7.94432C25.9893 9.5621 25.2572 10.2554 24.0981 10.2554Z"></path>
              </svg></div>
          </a>
        </div>
      </div>
    </div>
  </footer>